<html>
    <%- include('layout/header'); -%>
    <h1>About</h1>
    <h1>About</h1>
    <h1>About</h1>
    <h1>About</h1>
    <h1>About</h1>
    <h1>About</h1>
    <%- include('layout/footer'); -%>
</html>